<header>
    <nav class="navbar navbar-dark shadow bg-primary">
        <ul class="navbar-nav mr-auto">
            <li>
                <a routerLink="/home" routerLinkActive="active"
                   class="nav-link font-weight-bold text-white"><span>Home</span>
                </a>
            </li>
            <li class="nav-item">
                <a routerLink="/query/all" routerLinkActive="active" class="nav-link font-weight-bold text-white"><span>All
                    Queries</span></a>
            </li>
            <ng-template [ngIf]="!isLoggedIn">
                <div class="pull-right">
                    <li class="nav-item">
                        <a routerLink="/auth/login" routerLinkActive="active"
                           class="nav-link font-weight-bold text-white"><span>Login</span></a>
                    </li>
                    <li class="nav-item">
                        <a routerLink="/auth/register" routerLinkActive="active"
                           class="nav-link font-weight-bold text-white"><span>Register</span></a>
                    </li>
                </div>
            </ng-template>
            <ng-template [ngIf]="isLoggedIn">
                <ng-template [ngIf]="!isAdmin">
                    <li class="nav-item">
                        <a routerLink="/query/my" routerLinkActive="active"
                           class="nav-link font-weight-bold text-white"><span>My Queries</span></a>
                    </li>
                    <li class="nav-item">
                        <a routerLink="/query/create" routerLinkActive="active"
                           class="nav-link font-weight-bold text-white"><span>Ask a question</span></a>
                    </li>
                </ng-template>
                <div class="pull-right mb-auto">
                    <li class="nav-item">
                        <a routerLink="/logout" routerLinkActive="active" class="nav-link font-weight-bold text-white"
                           (click)="logout()"><span>Logout</span></a>
                    </li>
                </div>
            </ng-template>
        </ul>
    </nav>
</header>
