<header>
    <div class="navbar bg-primary shadow">
        <div class="container">
            <div class="row">
                <div class="col-md-12 justify-content-between">
                    <a routerLink="/" routerLinkActive="active" class="navbar-brand nav-link text-white"><h3>AMA</h3>
                    </a>
                    <a routerLink="/query/all" routerLinkActive="active" class="nav-link font-weight-bold text-white">All
                        Queries</a>
                    <ng-template [ngIf]="!isLoggedIn">
                        <a routerLink="/login" routerLinkActive="active" class="nav-link font-weight-bold text-white">Login</a>
                        <a routerLink="/register" routerLinkActive="active"
                           class="nav-link font-weight-bold text-white">Register</a>
                    </ng-template>
                    <ng-template [ngIf]="isLoggedIn">
                        <a routerLink="/query/my" routerLinkActive="active"
                           class="nav-link font-weight-bold text-white">My Queries</a>
                        <a routerLink="/query/create" routerLinkActive="active"
                           class="nav-link font-weight-bold text-white">Ask a question</a>
                        <a routerLink="/logout" routerLinkActive="active" class="nav-link font-weight-bold text-white" (click)="logout()">Logout</a>
                    </ng-template>
                </div>
            </div>
        </div>
    </div>
</header>
