<div class="row">
    <div class="col-lg-2 align-content-center">
        <div class="row justify-content-center" *ngIf="!answer.isOwner">
            <button class="btn" [disabled]="answer.isLiked" (click)="upVoteAnswer(answer.id)"><i class="fa fa-arrow-circle-up fa-2x text-success"></i></button>
            <h4 class="mt-2">{{answer.score}}</h4>
            <button class="btn" [disabled]="answer.isDisliked" (click)="downVoteAnswer(answer.id)"><i class="fa fa-arrow-circle-down fa-2x text-danger"></i></button>
        </div>
    </div>
    <div class="col-lg-6">
        <p [innerHTML]="answer.content"></p>
        <div class="justify-content-between pull-right">
            <span >created on: {{answer.createdAt | date: 'dd/MM/yyyy'}}</span>
            <span class="pull-right mx-1">author: {{answer.User.username}}</span>
        </div>
    </div>
    <hr>
</div>

