<hr>
<div class="col-lg-10 container mb-5">
    <div class="row justify-content-between ">
        <div class="ml-3">
            <h3>{{totalAnswers}} answers</h3>
        </div>
        <div class="mr-3">
            <button class="btn btn-light" (click)="orderPopular()">Popular</button>
            <button class="btn btn-light" (click)="orderLatest()">Latest</button>
        </div>

    </div>

    <hr>
    <app-answer-card *ngFor="let answer of answers" [answer]="answer" (emitter)="editAnswer($event)"></app-answer-card>
</div>

