<div class="container" *ngIf="query$ | async as query">
    <div class="row mt-5 border-info">
        <div class="col-lg-2">
            <div class="row justify-content-center mt-5">
                <button class="btn" [disabled]="query.isLiked || query.isOwner || !isLoggedIn"
                        (click)="upVoteQuery(query.id)"><i
                    class="fa fa-arrow-circle-up fa-2x text-success"></i></button>
                <h4 class="mt-2">{{query.score}}</h4>
                <button class="btn" [disabled]="query.isDisliked || query.isOwner || !isLoggedIn"
                        (click)="downVoteQuery(query.id)"><i
                    class="fa fa-arrow-circle-down fa-2x text-danger"></i></button>
            </div>
        </div>
        <div class="col-lg-7 border-left">
            <div class="row justify-content-between mx-2">
                <h3>{{query.title}}</h3>
            </div>
            <hr/>
            <div class="row m-3 bg-grey rounded text-break">
                <pre class="m-3 text-wrap" [innerHTML]="query.description"></pre>
            </div>
            <div class="row m-3">
                <a class="btn btn-light mx-1" [routerLink]="['/query','tagged',tag]"
                   *ngFor="let tag of query.tags">{{tag}}</a>
            </div>
            <div class="row justify-content-end m-3">
                <small class="mx-3"
                >added on: {{query.createdAt | date: 'dd MMM yyyy'}}</small>
                <small class="mx-1">author: {{query.User.username}} ({{query.User.score}})</small>
            </div>
            <hr/>
            <div class="row m-3 " *ngIf="isLoggedIn">
                <button class="btn btn-sm btn-outline-danger m-3" *ngIf="isAdmin"
                        (click)="delete(query.id)">Delete
                </button>
                <button [routerLink]="['/query','edit',query.id]" *ngIf="query.isOwner"
                        class="btn btn-sm btn-outline-info m-3">Edit
                </button>
                <button class="btn btn-sm btn-outline-warning m-3" *ngIf="!query.solved && isAdmin"
                        (click)="closeQuery(query.id)">
                    Close
                </button>
                <button class="btn btn-sm btn-outline-warning m-3" *ngIf="query.solved && isAdmin"
                        (click)="openQuery(query.id)">
                    Open
                </button>
            </div>
        </div>
    </div>
    <app-answer-list [answers]="query.Answers" [totalAnswers]="query.totalAnswerCount" (orderEmitter)="order($event)"></app-answer-list>
    <app-paginator [totalPages]="query.totalAnswerCount / 5 | ceil"
                   (pageEmitter)="pageChange($event)"></app-paginator>
    <app-answer-create-form *ngIf="!query.solved && isLoggedIn"
                            [queryId]="query.id"></app-answer-create-form>
</div>



