<div class="container mt-5">
    <div class="col-lg-12" *ngIf="{users: users$ | async, count: totalCount | async} as result" >
        <app-search-form (searchEmitter)="searchByUsername($event)"></app-search-form>
        <div class="panel panel-default">
            <table class="table w-100 table-hover table-striped border-bottom border-left border-right">
                <tr class="">
                    <th>Username</th>
                    <th>Current role</th>
                    <th class="text-center">Select role</th>
                </tr>
                <tr *ngFor="let user of result.users">
                    <td class="ml-3">{{user.username}}</td>
                    <td>{{user.role}}</td>
                    <td><app-select-role-form [currentRole]='user.role' (roleEmitter)="changeRole($event, user.id)" [roles]="userService.roles"></app-select-role-form></td>
                </tr>
            </table>
        </div>
        <app-paginator *ngIf="result.count" (pageEmitter)="pageChange($event)"
        [totalPages]="result.count / 5 | ceil"></app-paginator>
    </div>

</div>
