<div class="container mt-4">
    <div class="row">
        <div class="col-lg-4"></div>
        <div class="col-lg-4">
            <h1 class="text-center">Login</h1>
            <form [formGroup]="form" class="mt-2" (submit)="submitForm()">
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                    </div>
                    <input formControlName="username" class="form-control" placeholder="Username"/>
                </div>
                <div class="alert alert-danger" *ngIf="username?.touched && username?.errors?.required">
                    Username is required
                </div>
                <div class="alert alert-danger" *ngIf="username?.dirty && username?.errors?.pattern">
                    Allowed only letters and numbers
                </div>
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                    </div>
                    <input formControlName="password" class="form-control" placeholder="Enter password" type="password"/>
                </div>
                <div class="alert alert-danger" *ngIf="password?.touched && password?.errors?.required">
                    Password is required
                </div>
                <div class="alert alert-danger" *ngIf="password?.dirty && password?.errors?.pattern">
                    Numbers and digits, min 3, max 16
                </div>
                <div class="form-group">
                    <button type="submit" [disabled]="form.invalid" class="btn btn-primary btn-block"> Login</button>
                </div>
            </form>
        </div>
        <div class="col-lg-4"></div>
    </div>
</div>
