<div class="container">
    <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-8">

            <h1 class="text-center">Create query</h1>
            <form [formGroup]="form" class="mt-2" (submit)="submitForm()">
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-question"></i> </span>
                    </div>
                    <input formControlName="title" class="form-control" placeholder="Title"/>
                </div>
                <div class="alert alert-danger" *ngIf="title?.touched && title?.errors?.required">
                    Username is required
                </div>
                <div class="alert alert-danger" *ngIf="title?.dirty && title?.errors?.pattern">
                    Allowed only letters and numbers. Max 35 characters.
                </div>
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-info"></i> </span>
                    </div>
                    <input formControlName="tags" class="form-control" placeholder="tags..."/>
                </div>
                <div class="alert alert-danger" *ngIf="tags?.dirty && tags?.errors?.pattern">
                    Enter tags separated by single space
                </div>
                <ckeditor
                    tagName="textarea"
                    formControlName="description"
                    [editor]="editor"
                    data="<p>Query description</p>">
                </ckeditor>
                <div class="alert alert-danger" *ngIf="description?.touched && description?.errors?.required">
                    Description is required
                </div>
                <div class="form-group mt-3">
                    <button type="submit" [disabled]="form.invalid" class="btn btn-primary btn-block"> Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>

