<div class="container" *ngIf="query">
    <div class="row mt-3">
        <div class="col-lg-1">
            <div class="row justify-content-between mt-5">
                <button class="btn" (click)="upVoteQuery()"><i class="fa fa-arrow-circle-up fa-2x text-success"></i></button>
                <h4>{{query.score}}</h4>
                <a class="fa fa-arrow-circle-down fa-2x text-danger" (click)="downVoteQuery()"></a>
            </div>
        </div>
        <div class="col-lg-5">
            <h1>{{query.title}}</h1>
            <pre [innerHTML]="query.description"></pre>
            <div>
                <span *ngFor="let tag of query.tags"> {{tag}}</span>
            </div>
            <h4>Author: {{query.User.username}}</h4>
        </div>
    </div>
    <hr>
    <app-answer-create-form [queryId]="query.id"></app-answer-create-form>
    <hr>
    <div>
        <app-answer-list [answers]="query.Answers"></app-answer-list>
    </div>
</div>



