<header>
    <div class="navbar bg-primary shadow">
        <div class="container">
            <div class="row">
                <div class="col-md-12 justify-content-between">
                    <a routerLink="/" routerLinkActive="active" class="navbar-brand nav-link text-white"><h3>AMA</h3></a>
                    <a routerLink="/login" routerLinkActive="active" class="nav-link font-weight-bold text-white" >Login</a>
                    <a routerLink="/register" routerLinkActive="active" class="nav-link font-weight-bold text-white" >Register</a>
                    <a routerLink="/query/all" routerLinkActive="active" class="nav-link font-weight-bold text-white" >All Queries</a>
                    <a routerLink="/logout" routerLinkActive="active" class="nav-link font-weight-bold text-white" >Logout</a>
                </div>
            </div>
        </div>
    </div>
</header>
